.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  min-height: 100vh;
  background-color: black;
  transition: background-color 1000ms linear;
}

.App-header {
  font-weight: bold;
  display: flex;
  padding-top: 40px;
  justify-content: space-between;
  align-items: center;
  min-height: 10vh;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: 0 10px;
  flex-wrap: wrap;
}

h1 {
  color: white;
  font-size: 11vw;
  margin: 20px auto;
  max-width: 80%;
}

.Flex-div {
  display: flex;
  align-items: center;

  >div {
    margin-right: 20px;
  }
}

.Weather-icon {
  height: 30px;
  width: 30px;
  background: white;
  padding: 3px;
  border-radius: 5px;
}

.Last-update {
  position: absolute;
  bottom: 0;
  right: 0;
}
